@font-face {
    font-family: inherit;
    src: inherit;
    font-weight: normal;
    font-style: normal;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both;
}

.grid {
    position: relative;
    list-style: none;
    text-align: center;
    padding: 4px;
}

/* Common style */
.grid figure {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 215px;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.75;
}

.grid figure figcaption {
    padding-top: 3.21em;
    font-family: "Raleway", Arial, sans-serif;
    color: #fff;
    font-size: 1em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption:hover {
    padding-top: 0em;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h3 {
    word-spacing: -0.15em;
    font-weight: 300;
    font-size: 16px;
}

.grid figure h3 span {
    font-weight: 800;
}

.grid figure p {
    padding-top: 10px;
    line-height: 15px;
    margin: 1em;
    letter-spacing: 1px;
    font-size: 68.5%;
}

/* Individual effects */

figure.effect-project {
    background: #000;
}

figure.effect-project img {
    max-width: none;
    width: -webkit-calc(100% + 20px);
    width: calc(100% + 20px);
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transform: translate3d(-10px, 0, 0) scale(1);
    transform: translate3d(-10px, 0, 0) scale(1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure.effect-project:hover img {
    opacity: 0.25;
    -webkit-transform: translate3d(0, 0, 0) scale(1.05);
    transform: translate3d(0, 0, 0) scale(1.05);
}

figure.effect-project figcaption {
    text-align: left;
}

figure.effect-project h3 {
    text-align: center;
    position: relative;
    overflow: hidden;
    background: #000;
    padding: 0.825em 0;
    opacity: 0.8;
    -webkit-transform: translate3d(0, 230%, 0);
    transform: translate3d(0, 230%, 0);
}

figure.effect-project h3::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 88%;
    height: 2px;
    background: #fff;
    content: "";
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

figure.effect-project:hover h3::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    margin-left: 1em;
    margin-right: 1em;
}

figure.effect-project p {
    opacity: 0;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(0, 100%, 0);
}

figure.effect-project:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-project:hover h3 {
    opacity: 1;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background: none;
}

figure.effect-project:hover .icon-links a:hover,
figure.effect-project .icon-links a:focus {
    color: #24b662;
}

figure.effect-project .icon-links a {
    position: absolute;
    z-index: 1;
    float: right;
    padding-left: 358px;
    padding-top: 5px;
    opacity: 0;
    color: #fff;
    font-size: 1em;
    -webkit-transition: -webkit-transform 0.75s;
    transition: transform 0.75s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

a {
    color: rgba(255, 255, 255, 0.507);
    text-decoration: none;
}

a:hover {
    color: #24b662;
    text-decoration: none;
}

figure.effect-project .icon-links a span::before {
    display: inline-block;
    padding: 10px 10px 35px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

figure.effect-project:hover .icon-links a {
    -webkit-transform: translate3d(-8%, 15%, 0);
    transform: translate3d(-8%, 15%, 0);
    opacity: 1;
}

@media screen and (max-width: 50em) {
    .content {
        padding: 0 10px;
        text-align: center;
    }
    .grid figure {
        display: inline-block;
        float: none;
        margin: 15px auto;
    }
}
