@import url("style.css");

/* Navbar */
.request-header-top-area {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000;
    width: 100%;
    z-index: 99;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.navbar {
    margin-bottom: 0px;
}
/* Body */
.home-section {
    height: 0px;
}

.request-section {
    min-height: 100%;
}

.request-center {
    text-align: center;
}

.request-logo {
    font-size: 80px;
    color: var(--subText-color);
    margin-top: 50px;
    margin-bottom: 50px;
}

.request-logo img {
    height: 100px;
    width: 100px;
    margin-right: 25px;
}

.request-title {
    color: var(--primary-color);
}

/* Iframe */
.iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
    position: absolute;
    left: 0;
    height: 90%;
    width: 100%;
}

/* Colors */
:root {
    --notes-color: #cdc1c5;
    --redirect-color: #794261;
    --player-color: #839192;
    --webgl-color: #5499c7;
    --unknown-color: #b26a2e;
    --error-color: #7f0000;
    --download-color: #a1887f;
}

.container a:hover {
    opacity: 0.6;
    color: var(--primary-color);
}

/* Responsive */
@media only screen and (max-width: 991px) {
    .request-logo {
        font-size: 50px;
    }
}
