@import url("style.css");

/* Navbar */
.request-header-top-area {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000;
    width: 100%;
    z-index: 99;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

/* Body */
.home-section{
    height:0px;
}

.request-section{
    min-height:100%
}

.request-center {
    text-align: center;
}
.request-logo {
    font-size: 80px;
    color:var(--subText-color);  
    margin-top: 50px;
    margin-bottom: 50px;
}

.request-logo img{
    height: 100px;
    width: 100px;  
    margin-right: 25px; 
}

.request-title{
    color:var(--primary-color);
}

/* Video */
.video-container {
    position: relative;
    padding-bottom: 56.25%; 
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}

/* Colors */
:root {
    --notes-color: #CDC1C5; 
    --redirect-color:#794261;
    --player-color:#7B7B7B;
    --webgl-color:#7B7B7B;
    --unknown-color:#B26A2E;
    --error-color:#7F0000;
    --download-color:#794261;
}